.body {
  overflow-y: scroll;
}


.main{
  width: 100%;
  overflow-y: scroll;
  background-image: url(back.jpg);
  background-color: antiquewhite;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -8px;
  padding-bottom: 50px;
  box-shadow: -4px 0px 20px rgba(0, 0, 0, 0.1);
  filter: saturate(55%);
  position: fixed;
  margin-top: -2%;
}
.logo{
  width: 100%;
 
  height: 99vh;
position: absolute;
background-repeat: no-repeat;
background-size: cover;
position: fixed;
margin: -8px;
padding-bottom: 7px;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
filter:saturate(55%);
}


.nav {
  width: 108%;
  height: 50px;
  background-color: #4CB944;
  position: relative;
  margin-top: -8px;
  margin-left: -8px;
}

.navTitle {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 45px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 50px;
}


.imagelogo{
  width: 110px;
  height: 116px;
  border-radius: 100px;
  transform: translate(-52%, -50%);
  margin-left: 25%;
  margin-bottom: -18%;
  margin-top: -13%;

}

.logout{
  right: 85%;
  position: absolute;
  top: 3%;
}
  


.navbar{
  float: center;
	list-style-type: none;
position: absolute;
right :37%;
top:35%


}

.navbarList{
  display: inline-block ;
font-family: arial;


}
.navbarText{
  text-decoration: none;
  color: lightblue;
  padding: 6px 25px;
  border: 4px solid brown;
  font-family: arial black;
}

.design{
display: flex;

}

.hero{
  background-color: rgba(0,0,0,0.12);
}
